<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleName</key>
        <string>Rally MKA</string>
        <key>CFBundleIdentifier</key>
        <string>com.mokiat.rallymka</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleExecutable</key>
        <string>RallyMKA</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.15</string>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright © 2020 Momchil Atanasov. All rights reserved.</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
                <string>MacOSX</string>
        </array>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleIconFile</key>
        <string>AppIcon</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
</dict>
</plist>