body {
  margin: 0px;
  padding: 0px;
  background-color: #222222;
  color: white;
}

article {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 576px;
  text-align: center;
}

#loading {
  padding-top: 200px;
  font-style: italic;
}

#finished {
  padding-top: 200px;
  font-style: italic;
  display: none;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  display: none;
}
